@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0D0D0D;
  font-family: "Rubik", serif !important;
}

header, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  width: 100%;
  position: fixed;
  background-color: rgba(13, 13, 13, 0.8);
  z-index: 1000;
}

header a {
  color: #FFFFFF;
  border-bottom: 2px solid #BCD97E;
  padding: 5px;
  position: relative;
  z-index: 1;
  margin: 0px 30px;
  text-decoration: none;
}

header a:hover {
  color: #1B3C59;
  /* background-color: #BCD97E; */
}

header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background: #BCD97E;
  z-index: -1;
  transition: transform 0.3s;
}

header a:hover::after {
  transform: scaleY(1);
}

#hamburger {
  display: none;
}

#landing {
  height: 100vh;
  width: 100% !important;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#frontend {
  color: #BCD97E;
}

#tech {
  color: #734F43;
}

#lifetime {
  color: #1B3C59;
}

#socials {
  position: fixed;
  top: 0px;
  height: 100vh;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#socials a * {
  color: #FFFFFF;
  font-size: 32px;
  margin: 10px 0px;
  transition: color 0.3s;
}

#socials a *:hover {
  color: #BCD97E;
}

#journey {
  color: #FFFFFF;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 150px;
}

#journey h3 {
  font-size: 20px;
  font-weight: 500;
  /* background-color: #734F43; */
  width: 350px;
  padding: 8px 20px;
  border-left: 5px solid #734F43;
}

#journey p {
  font-size: 18px;
  font-weight: 400;
  padding-left: 3px;
  /* background-color: #1B3C59; */
  height: fit-content;
  width: 350px;
  padding: 8px 20px;
  border-left: 5px solid #1B3C59;
}
.calendar {
  /* background-color: #BCD97E !important; */
  border-left: 5px solid #BCD97E !important;
  /* color: #0D0D0D; */
}
#journey div {
  display: flex;
  flex-direction: column;
  height: 22vh;
  margin: 1px 0;
  justify-content: center;
  align-items: flex-start;
}

.briefcaseIcon {
  color: #734F43;
}

.idIcon {
  color: #1B3C59;
}

.calendarIcon {
  color: #BCD97E;
}

#journey div * {
  margin: 0;
}

h3 * {
  margin-right: 5px;
}

p * {
  margin-right: 5px;
}

/* Timeline */
#timeline {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#techStack {
  min-height: 100vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 150px;
}

.iconBox {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 50px;
}

.iconBox .icons {
  font-size: 30px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.iconBox:hover .icons {
  transform: translateX(100%);
}

.iconBox .iconText {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.5s ease;
}

.iconBox:hover .iconText {
  transform: translateX(100%);
}

#projects {
  width: 100%;
  /* height: 100vh; */
}

.project {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 100px;
  margin: 30px 0px;
}

.project h2 {
  font-weight: 500;
  border-bottom: 5px solid #1B3C59;
  width: fit-content;
}

.projectBox{
  display: flex;
}

.projectBox div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 40px;
  font-size: 18px;
  font-weight: 300;
}

.projectBox div a {
  color: #FFFFFF;
  border-bottom: 2px solid #BCD97E;
  padding: 5px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  width: fit-content;
  font-weight: 400;
}

.projectBox div a:hover {
  color: #1B3C59;
}

.projectBox div a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background: #BCD97E;
  z-index: -1;
  transition: transform 0.3s;
}

.projectBox div a:hover::after {
  transform: scaleY(1);
}

.projectBox img {
  width: 65%;
  box-shadow: 10px 10px 0px #1B3C59;
}

#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 5px solid #1B3C59;
  margin-bottom: 50px;
}

#contact p {
  color: #FFFFFF;
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40vh;
}

#contact form *::placeholder {
  font-family: "Rubik", serif !important;
  color: #8D8D8D;
}

#contact form * {
  width: 70%;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #373737;
  color: white;
}

#contact form button {
  background-color: #BCD97E;
  color: #0D0D0D;
  width: 73%;
  font-weight: 500;
  font-size: 16px;
  font-family: "Rubik", serif !important;
}

#contact form button:hover {
  cursor: pointer;
  background-color: #74874b;
}

#contact form textarea {
  max-width: 70%;
  min-width: 70%;
  min-height: 13vh;
  font-family: "Rubik", serif !important;
}

footer {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0px;
  text-align: center;
}
/* Mobile Responsive */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    font-size: 16px; 
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
  }

  header a {
    margin-bottom: 15px;
    width: 140px;
    text-align: center;
  }

  #hamburger {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1000;
  }

  #socials {
    padding: 0px 10px;
  }

  #socials a * {
    font-size: 26px;
  }

  #landing {
    margin-left: 5px;
  }
  #landing p {
    font-size: 26px;
    text-align: center;
    width: 90%;
  }

  #journey {
    padding: 10px 55px;
  }

  #journey div h3 {
    width: 100%;
    font-size: 20px;
  }

  #journey div p {
    width: 100%;
    font-size: 18px;
  }

  #techStack {
    padding: 30px 20px;
  }

  .iconBox {
    margin: 30px;
    width: 80px;
    height: 80px;
  }

  .project {
    padding: 10px 50px;
    margin: 5px 0px;
  }

  .project h2 {
    font-size: 18px;
  }

  .projectBox {
    flex-direction: column;
  }

  .projectBox img {
    width: 100%;
  }

  .projectBox div {
    margin: 20px 0px;
    font-size: 14px;
  }

  .iconBox .iconText {
    font-size: 15px;
  }

  #contact form {
    width: 90%;
  }

  #contact form * {
    padding: 12px;
  }

  #contact h2 {
    font-size: 24px;
  }

  #contact form button {
    width: 77%; 
  }

  footer {
    font-size: 12px;
  }
}